<clickhouse>
  <logger>
    <level>debug</level>
    <console>1</console>
  </logger>

  <listen_host>0.0.0.0</listen_host>
  <listen_try>0</listen_try>

  <path>/var/lib/clickhouse/data/</path>
  <access_control_path replace="replace">/var/lib/clickhouse/data/access/</access_control_path>
  <tmp_path>/var/lib/clickhouse-tmp/tmp/</tmp_path>
  <user_files_path>/var/lib/clickhouse-tmp/user_files/</user_files_path>

  <metric_log>
    <database>system</database>
    <table>metric_log</table>
    <flush_interval_milliseconds>7500</flush_interval_milliseconds>
    <collect_interval_milliseconds>1000</collect_interval_milliseconds>
    <max_size_rows>1048576</max_size_rows>
    <reserved_size_rows>8192</reserved_size_rows>
    <buffer_size_rows_flush_threshold>524288</buffer_size_rows_flush_threshold>
    <flush_on_crash>false</flush_on_crash>
  </metric_log>

  <asynchronous_metric_log>
    <database>system</database>
    <table>asynchronous_metric_log</table>
    <flush_interval_milliseconds>7500</flush_interval_milliseconds>
    <collect_interval_milliseconds>1000</collect_interval_milliseconds>
    <max_size_rows>1048576</max_size_rows>
    <reserved_size_rows>8192</reserved_size_rows>
    <buffer_size_rows_flush_threshold>524288</buffer_size_rows_flush_threshold>
    <flush_on_crash>false</flush_on_crash>
  </asynchronous_metric_log>
</clickhouse>
