#cloud-config
users:
  - name: opensearch
    system: true
    shell: /bin/false

fs_setup:
  - device: /dev/disk/by-id/google-data
    filesystem: ext4
    partition: auto
    cmd: 'mkfs.ext4 -m 0 -E lazy_itable_init=0,lazy_journal_init=0,discard /dev/disk/by-id/google-data'
    overwrite: false

mounts:
  - ['/dev/disk/by-id/google-data', '/mnt/disks/opensearch', 'ext4', 'discard,defaults', '0', '2']

write_files:
  - path: /etc/systemd/system/config-firewall.service
    permissions: '0644'
    owner: root
    content: |
      [Unit]
      Description=Configures the host firewall

      [Service]
      Type=oneshot
      RemainAfterExit=true
      ExecStart=/sbin/iptables -A INPUT -p tcp --dport 9100 -j ACCEPT

  - path: /etc/systemd/system/nodeexporter.service
    permissions: '0644'
    owner: root
    content: |
      [Unit]
      Description=Start node exporter from a docker container

      [Service]
      ExecStart=/usr/bin/docker run --name=nodeexporter -d --net="host" --pid="host" -v "/:/host:ro,rslave" ${node_exporter_container_image} --path.rootfs=/host

  - path: /etc/systemd/system/opensearch.service
    owner: root:root
    permissions: '0644'
    content: |
      [Unit]
      Description=Start OpenSearch Docker

      [Service]
      Restart=always
      RestartSec=10
      ExecStop=/usr/bin/docker stop ot-os
      ExecStartPre=/usr/bin/docker build -t opensearch-gcs:${OPENSEARCH_VERSION} /var/lib/opensearch-build
      ExecStart=/bin/bash -c ' \
        /usr/bin/docker run \
          --rm \
          --name ot-os \
          --log-driver=gcplogs \
          -p 9200:9200 \
          -p 9600:9600 \
          -e "discovery.type=single-node" \
          -e "network.host=0.0.0.0" \
          -e "bootstrap.memory_lock=true" \
          -e "DISABLE_SECURITY_PLUGIN=true" \
          -e "OPENSEARCH_JAVA_OPTS=-XX:+UseTransparentHugePages" \
          -v /mnt/disks/opensearch/data:/usr/share/opensearch/data \
          -v /var/log/opensearch:/usr/share/opensearch/logs \
          --ulimit memlock=-1:-1 \
          --ulimit nofile=65536:65536 \
          --shm-size=1gb \
          opensearch-gcs:${OPENSEARCH_VERSION} \
        '

      [Install]
      WantedBy=multi-user.target

  - path: /var/lib/opensearch-build/Dockerfile
    owner: root:root
    permissions: '0644'
    content: |
      ARG OPENSEARCH_VERSION
      FROM opensearchproject/opensearch:${OPENSEARCH_VERSION}
      USER root
      RUN /usr/share/opensearch/bin/opensearch-plugin install --batch repository-gcs https://github.com/opensearch-project/opensearch-prometheus-exporter/releases/download/3.1.0.0/prometheus-exporter-3.1.0.0.zip
      USER opensearch

bootcmd:
  - sysctl -w vm.max_map_count=262144

runcmd:
  - mkdir -p /mnt/disks/opensearch/data /var/log/opensearch
  - chown -R 1000:1000 /mnt/disks/opensearch /var/log/opensearch
  - chmod -R 755 /mnt/disks/opensearch /var/log/opensearch
  - systemctl daemon-reload
  - systemctl enable --now opensearch.service
  - systemctl enable --now nodeexporter.service
  - systemctl enable --now esexporter.service
  - systemctl enable --now config-firewall.service
